<a href="https://colab.research.google.com/github/dss5202-2410/Notebooks/blob/main/Basic_commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python review

In this section, you will get a review or brief introduction to Python for this course. The purpose of it is **NOT** to teach you all of Python, but rather to arm you with the knowledge required to succeed in this course.

Because of this, we will only cover key concepts that are necessary for this course. For those of you who already know some Python, it should serve as a quick review. For those of you who know another language (e.g., `R`), it should serve as a brief introduction.

## Variables
To better understand **variables**, let's first look at a concept from Microsoft Excel that you are already familiar with. Each cell name refers to a specific place in the spreadsheet and each of these places can contain a value. The name of the cell, such as "A12", is similar to the name of a variable; what you put into it is called the value.

In order to create a variable in Python, you must give it a name. It can have any name that has alphanumeric (`A-Z`, `a-z`, `0-9`) characters including underscore (`_`).  Notice the following restrictions though.

+ The name cannot start with a number.

+ The name is case sensitive. So `my_var` is not the same as `My_var`.


Each variable has a **type**, such as integer, float, string, etc. We can change the type of variables using simple commands.

**Try the following code.**

In [ ]:
a = 3
print(type(a))

<class 'int'>

In [ ]:
b = "dss5202"
print(type(b))

<class 'str'>

In [ ]:
c = "123"
print(type(c))

<class 'str'>

In [ ]:
c = int(c)   # Converting c into a numeric value
print(type(c))

<class 'int'>

### Numeric Data Types

There are two main types of numeric data in Python: Integers (`int`) and float-point values (`float`).

+ An interger is a zero, a positive, or a negative whole number.

+ Floating-point numbers are numbers that have fractional components after the decimal points (even if the fractional component is zero).

As a good rule of thumb, if a value has a decimal point, it is a `float`. For example, the number 12 is an `int`, but `12.0` is a `float`.

We can perform basic mathematical operations on numeric data.

+ Such as addition (`+`), subtraction (`-`), multiplication (`*`), division (`/`), and exponentiation (`**`).

+ Additionally, there are other operations like modulus (`%`), which gives us the remainder of a division between two integers.

### Boolean Data Type

**Boolean** (`bool`) is another data type that is very useful in programming. It is used to check the truth of an expression. Booleans return `True` or `False`. We can evaluate multiple Boolean expressions with operations like `and`, `or`, and `not`.

**Try the code below.**

In [ ]:
True

True

In [ ]:
True and True

True

In [ ]:
False or True

True

In [ ]:

not (False or True)

False

Booleans are often used with other operations such as equal (`==`), less than (`<`), etc. It is possible to combine these operators with logical operators (`and`, `or`, and `not`) to form complex logical questions.

Below is a table of all logical and relational operators that can be used to create Boolean expressions.

| **Name** 	| **Operator** 	| **Explanation** 	|
|---	|---	|---	|
| less than 	| `<` 	| Less than operator 	|
| Greater than 	| `>` 	| Greater than operator 	|
| Less than or equal to 	| `<=` 	| Less than or equal to operator 	|
| Greater than or equal to 	| `>=` 	| Greater than or equal to operator 	|
| Equal 	| `==` 	| Equality operator 	|
| Not equal 	| `!=` 	| Not equal operator 	|
| Logical and 	| `and` 	| Both operands True for the result to be True 	|
| Logical or 	| `or` 	| One of the operands is True for the result to be True 	|
| Logical not 	| `not` 	| Negates the value: False becomes True, True becomes False 	|


**Try the following code.**

In [ ]:
print(13 == 50)

False

In [ ]:
print(not(15 > 10))

False

In [ ]:
print((5 >= 1) and (5 < 15))

True

## Strings

A **string** is a sequential collection of zero or more **characters**. It can be represented with single or double-quotes.

**Try the following code.**

In [ ]:
school = "NUS"
print(school)

You can access particular character or segment of a string by the following **sequential indexing operations**.


| **Name** 	| **Operator** 	| **Explanation** 	|
|---	|---	|---	|
| Indexing 	| `[]` 	| Access an element of a sequence by its index 	|
| Concatenation 	| `+` 	| Combine sequences of strings 	|
| Repetition 	| `*` 	| Concatenate a repeated sequence a number of times 	|
| Membership 	| `in` 	| Ask whether a pattern is in a sequence 	|
| Length 	| `len` 	| Ask the number of items in a sequence 	|
| Slicing 	| `[:]` 	| Extract part of a sequence 	|


Aside from the sequential operations, strings also have their own set of methods. Below are some typical **string manipulation methods** used in this course.


| **Method** 	| **Explanation** 	|
|---	|---	|
| `.lower()` 	| Return a string with all characters in lower case 	|
| `.upper()` 	| Return a string with all characters in upper case 	|
| `.title()` 	| Return a string where the first letter of each word is upper cased 	|
| `.startswith()` 	| Return True of False depending on whether the string starts with the specified characters 	|
| `.endswith()` 	| Return True of False depending on whether the string ends with the specified characters 	|
| `.split()` 	| Split the string at specified characters. The split string will be returned in a list 	|


**In the code below, you can play with some examples of string operations.**

In [ ]:
address1 = "Block S16, 6 Science Drive 2"
address2 = "Singapore, 117546"
print(address1)

Block S16, 6 Science Drive 2

In [ ]:
print(address1 + ", " + address2)

Block S16, 6 Science Drive 2, Singapore, 117546

In [ ]:
print(len(address1))

28

In [ ]:
print(address1[0:5])

Block

In [ ]:
print(address1.lower())

block s16, 6 science drive 2

In [ ]:
print(address1.lower().title())

Block S16, 6 Science Drive 2

In [ ]:
list_of_string = address1.split(" ")
print(list_of_string)

['Block', 'S16,', '6', 'Science', 'Drive', '2']

## Conditional statements

**Conditional statements** (also known as `if` statements) are used to ask a question, and depending on the result, perform certain actions. The questions follow this format:

<img src="https://raw.githubusercontent.com/dss5202-2410/week1_intro/main/figures/if-else.png" width="700">

In [30]:
number = 5
if number < 0:
  print("This will only print if the number is negative.")

If a statement is met, then the action will be perform. If the condition is not met, then all of the code indented inside of the if statement will be ignored.

If statements can have two additional clauses, `elif` and `else`. The keyword `elif` is a shorter way of saying else if. It is used after the if statement and provides another condition to be checked if the first one is not true. It is possible to have multiple `elif` in one if statement.

When the `else` clause is used, it is always the last clause in a conditional statement.

Once a condition has been met, all subsequent clauses will be ignored.

In [33]:
number = 5
if number < 0:
  print("This will print if the number is negative.")

elif number < 10:
  print("The number is non-negative, and it is smaller than 10.")

else:
  print("The number is at least 10.")

The number is non-negative, and it is smaller than 10.

## Lists

**Lists** are a sequential collection of data. They are created by a pair of square brackets (`[]`). Each element is separated by commas.

A list can contain objects of any data type.

In [45]:
list1 = [3, 4, 6, 7, 9, 0, 113]
list2 = [-5, "list", 113, "this", 4, "is"]
list3 = []

Data in a list is **ordered**. We can use extract components in a list with a pair of `[]` square brackets and the location index.

Indexes in Python start at zero.

In [36]:
list1[0]

3

We can also use negative indexes to refer to values starting from the end of the list.

In [41]:
list1[-3]

9

Values in a list can be **overwritten**, **added**, or **deleted**. We can use their index to specify which location we would like to modify.

In [46]:
list1[0] = -5
print(list1)

[-5, 4, 6, 7, 9, 0, 113]

In [47]:
list1.append(226)
print(list1)

[-5, 4, 6, 7, 9, 0, 113, 226]

In [48]:
list1 + [1, 2, 3]

[-5, 4, 6, 7, 9, 0, 113, 226, 1, 2, 3]

**What does the code below do?**

In [51]:
list4 = [3, 4, 6, 7, 113, 226, 91]
total = 0
for val in list4:
  if val % 2 == 1:
    total = total + 1

print(total)

4

## For loops

What we saw in the code above is a **for loop**. A for loop is used to repeat an action until a specific condition is met. A common use is to iterate over the elements of a collection as long as the collection is a sequence.

<img src="https://raw.githubusercontent.com/dss5202-2410/week1_intro/main/figures/for.png" width="500">

You will often see a for loop used with the `range()` function to specify the number of times the action should be repeated.

In [52]:
for i in range(0, 5):
  print(i)

0
1
2
3
4

For loops can also be used to visit every item in a list. These do not require the `range()` function.

In [53]:
for color in ["red", "green", "blue"]:
    print(color)

red
green
blue

Just like conditional statements, the contents of the for loop have to be indented at the same level to differentiate them from code outside the loop.

In [56]:
for i in range(2):
    print("repeated inside the loop")
    print("also repeated inside the loop")
print("NOT REPEATED AS IT IS OUTSIDE THE LOOP")

repeated inside the loop
also repeated inside the loop
repeated inside the loop
also repeated inside the loop
NOT REPEATED AS IT IS OUTSIDE THE LOOP