<a href="https://colab.research.google.com/github/dss5202-2410/Notebooks/blob/main/Basic_commands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python review

In this section, you will get a review or brief introduction to Python for this course. The purpose of it is **NOT** to teach you all of Python, but rather to arm you with the knowledge required to succeed in this course.

Because of this, we will only cover key concepts that are necessary for this course. For those of you who already know some Python, it should serve as a quick review. For those of you who know another language (e.g., `R`), it should serve as a brief introduction.

## Variables
To better understand **variables**, let's first look at a concept from Microsoft Excel that you are already familiar with. Each cell name refers to a specific place in the spreadsheet and each of these places can contain a value. The name of the cell, such as "A12", is similar to the name of a variable; what you put into it is called the value.

In order to create a variable in Python, you must give it a name. It can have any name that has alphanumeric (`A-Z`, `a-z`, `0-9`) characters including underscore (`_`).  Notice the following restrictions though.

+ The name cannot start with a number.

+ The name is case sensitive. So `my_var` is not the same as `My_var`.


Each variable has a **type**, such as integer, float, string, etc. We can change the type of variables using simple commands.

**Try the following code.**

In [8]:
a = 3
print(type(a))

<class 'int'>

In [9]:
b = "dss5202"
print(type(b))

<class 'str'>

In [10]:
c = "123"
print(type(c))

<class 'str'>

In [11]:
c = int(c)   # Converting c into a numeric value
print(type(c))

<class 'int'>

### Numeric Data Types

There are two main types of numeric data in Python: Integers (`int`) and float-point values (`float`).

+ An interger is a zero, a positive, or a negative whole number.

+ Floating-point numbers are numbers that have fractional components after the decimal points (even if the fractional component is zero).

As a good rule of thumb, if a value has a decimal point, it is a `float`. For example, the number 12 is an `int`, but `12.0` is a `float`.

We can perform basic mathematical operations on numeric data.

+ Such as addition (`+`), subtraction (`-`), multiplication (`*`), division (`/`), and exponentiation (`**`).

+ Additionally, there are other operations like modulus (`%`), which gives us the remainder of a division between two integers.

### Boolean Data Type

**Boolean** (`bool`) is another data type that is very useful in programming. It is used to check the truth of an expression. Booleans return `True` or `False`. We can evaluate multiple Boolean expressions with operations like `and`, `or`, and `not`.

**Try the code below.**

In [7]:
True

True

In [4]:
True and True

True

In [5]:
False or True

True

In [6]:

not (False or True)

False

Booleans are often used with other operations such as equal (`==`), less than (`<`), etc. It is possible to combine these operators with logical operators (`and`, `or`, and `not`) to form complex logical questions.

Below is a table of all logical and relational operators that can be used to create Boolean expressions.

| **Name**                 | **Operator** | **Explanation**                                           |
|--------------------------|--------------|-----------------------------------------------------------|
| less than                | `<`          | Less than operator                                        |
| Greater than             | `>`          | Greater than operator                                     |
| Less than or equal to    | `<=`         | Less than or equal to operator                            |
| Greater than or equal to | `>=`         | Greater than or equal to operator                         |
| Equal                    | `==`         | Equality operator                                         |
| Not equal                | `!=`         | Not equal operator                                        |
| Logical and              | `and`        | Both operands True for the result to be True              |
| Logical or               | `or`         | One of the operands is True for the result to be True     |
| Logical not              | `not`        | Negates the value: False becomes True, True becomes False |


**Try the following code.**

In [12]:
print(13 == 50)

False

In [13]:
print(not(15 > 10))

False

In [15]:
print((5 >= 1) and (5 < 15))

True