<a href="https://colab.research.google.com/github/dss5202-2410/Notebooks/blob/main/Intro_to_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to `pandas`

Data scientists have to deal with a lot of data at once. While Google Sheets and Excel are great ways to organize and visualize data, they are **NOT** as versatile as we might want.

That is where **DataFrame**s come in.

In this section, you will be introduced to data frames and learn to use them to obtain information from data.

First of all, we will import the `numpy` and `pandas` libraries.

+ In the code below, we import them under the alias `np` and `pd`, respectively.

In [1]:
import numpy as np
import pandas as pd

**Reminder about built-in documentations**

We can explore the contents of a libary as well as the documentation of various functions using the `?` character. For example, to display `pandas`' built-in documentation, you can use the following:

In [2]:
pd?

## Series

A `pandas` `series` is a one-dimensional array of indexed data. It can be created from a list of array.

In [8]:
s1 = pd.Series([3, 4.3, 2.7, 8, 91, 5.8])
print(s1)

0     3.0
1     4.3
2     2.7
3     8.0
4    91.0
5     5.8
dtype: float64

As we see in the output, the `Series()` wraps both a sequence of values and a sequence of indices, which we can use to access the `values` and `index` attributes, respectively.

In [9]:
s1.values

array([ 3. ,  4.3,  2.7,  8. , 91. ,  5.8])

In [10]:
s1.index

RangeIndex(start=0, stop=6, step=1)

Data can be accessed by the associated index via the square-bracket notation.

In [11]:
s1[1]

4.3

In [12]:
s1[0:2]

0    3.0
1    4.3
dtype: float64

Index in a given `series` need not be an integer, but can consist of values of any desired type. For example, we can use strings as an index.

In [13]:
s2 = pd.Series([3, 4.3, 2.7, 8, 91, 5.8],
               index = ["a", "b", "c", "d", "e", "f"])
print(s2)

a     3.0
b     4.3
c     2.7
d     8.0
e    91.0
f     5.8
dtype: float64

We can access items in the `series` in a similar way.

In [14]:
s2["b"]

4.3

## DataFrame

The next fundamental structure in `pandas` is the `DataFrame`.